[mysqld]
collation-server = utf8mb4_unicode_ci
init-connect = "SET NAMES utf8"
character-set-server = UTF8MB4
sync_binlog = 0
skip-log-bin
default_storage_engine = innodb

innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size         = 8M
innodb_redo_log_capacity       = 10485760
innodb_buffer_pool_size        = 134217728
innodb_use_native_aio          = 0
innodb_file_per_table
